:root {
    --mainblack: rgba(11, 16, 28, 1);
    --main-purple: rgba(107, 66, 254, 1);
    --white: rgba(255, 255, 255, 1);
    --grey-03: rgba(142, 150, 167, 1);
    --ai-msg-bg: #f0f0f0;
  }
  